/************************/
/*      フォント        */
/************************/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@font-face {
	font-family: 'capsuula';
	src: url('../font/capsuula/Capsuula.ttf')  format('truetype'),
	 url('../font/capsuula/Capsuula.woff')  format('woff');
}

/************************/
/*    共通スタイル      */
/************************/
:root {
 --cmn-font-size		: 16px;
 --cmn-ttl-font-size	: 24px;
}

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "SF Pro JP", "SF Pro Text", "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html body{
	overflow-x: hidden;
}

a{
	color:#c0c0c0;
	text-decoration: none;
}

ul {
	list-style: none;
}

.obj_inview {
	visibility: visible;
	opacity: 1;
	transform: translate3d(0px, 0px, 0px);
	transition: all 2s;
}

.obj_hide{
	visibility: hidden;
	opacity: 0;
	transform: translate3d(0px, 60px, 0px);
	transition: all 0s;
}

/************************/
/*   ヘッダーエリア    */
/************************/
@media (max-width: 640px) {
	.header{
		position: fixed;
		top: 0;
		z-index: 300;
		width: 100%;
		height: 40px;
		background-color: rgba(18,18,18,0.9);
	}

	.fa-fish{
		position:relative;
		margin-top: 5px;
		margin-left: calc(50% - 20px);
		z-index: 400;
		width: 30px;
		height: 30px;
		color: #d7d7d7;
		font-size: var(--cmn-ttl-font-size);
		text-align: center;
		line-height: 30px;
		transform: rotateZ(0deg);
		transition: all 1s;
		transform-origin: center;
	}

	#hamburger{
		position: absolute;
		top: 5px;
		left: 10px;
		z-index: 500;
		width: 30px;
		height: 30px;
	}

	#hamburger span{
		position: absolute;
		list-style: none;
		width: 20px;
		height: 0;
		margin-left: 5px;
		border-radius: 10px;
		border-top: 2px solid #d7d7d7;
		transform-origin: center;
	}

	.hamburger_off span:nth-child(1){
		top: 9px;
		transition: transform 0.2s ease-out , top 0.2s ease-out 0.2s;
		transform: rotateZ(0deg);
	}

	.hamburger_off span:nth-child(2){
		top: 19px;
		transition: transform 0.2s ease-out , top 0.2s ease-out 0.2s;
		transform: rotateZ(0deg);
	}

	.hamburger_on span:nth-child(1){
		top: 14px;
		transition: transform 0.2s ease-out 0.2s, top 0.2s ease-out;
		transform: rotateZ(44deg);
	}

	.hamburger_on span:nth-child(2){
		top: 14px;
		transition: transform 0.2s ease-out 0.2s, top 0.2s ease-out;
		transform: rotateZ(-44deg);
	}
}
@media (min-width: 641px) {
	.hamburger{
		display: none;
	}

	.fa-fish{
		position: fixed;
		top: 10px;
		left: 30px;
		mix-blend-mode: difference;
		width: 40px;
		height: 40px;
		padding-top: 8px;
		border-radius: 50%;
		text-align: center;
		font-size: var(--cmn-ttl-font-size);
		color: #d7d7d7;
		transform: rotateZ(0deg);
		transform-origin: center;
		transition: all 1s;
		z-index: 500;
	}
}

/************************/
/* サイドナビゲーション */
/************************/
@media (max-width: 640px) {

	#side_nav{
		position: fixed;
		top:40px;
		over-flow:hidden;
		z-index:200;
		width:100%;
		background-color: rgba(0,0,0,0.9);
		transition: all 0.3s;
	}

	#side_nav ul li{
		margin-left: 15%;
		width: 70%;
		border-bottom: 0.5px solid #d7d7d7;
		line-height: 80px;
		text-align: center;
		color: #d7d7d7;
		font-size: var(--cmn-font-size);
	}

	.nav_off{
		height: 0;
	}

	.nav_on{
		height: 100%;
	}

	.nav_off ul{
		display: none;
		opacity: 0;
		transition: all 0.6s ease-out 0.2s;
	}

	.nav_on ul{
		display: flex;
		flex-direction: column;
		text-align:center;
		opacity: 1;
		transition: all 0.6s ease-out 0.2s;
	}

	.nav_off ul li{
		width: 70%;
		height: 70px;
		transition: all 0.6s ease-out 0.2s;
	}

	.nav_off ul li{
		width: 0%;
		height: 0px;
		transition: all 0.6s ease-out 0.2s;
	}
}

@media (min-width: 641px) {

	#side_nav{
		position: absolute;
		top: 0;
		z-index: 400;
		width: 100%;
		height: 60px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
		background-color: rgba(18,18,18,0.9);
	}

	#side_nav ul{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		right: 50px;
		width: auto;
		height: 40px;
		margin: 10px 30px 10px 0px;
	}

	#side_nav ul li{
		list-style: none;
		width: 100px;
		text-align: center;
		line-height: 40px;
		color: #555555;
	}

	#side_nav ul li a{
		font-family: 'Quicksand', sans-serif;
	}

	#side_nav ul li a::after{
		display: block;
		position: relative;
		left: 15%;
		bottom: 10px;
		width: 70%;
		border-top: 2px solid #555555;
		content: '';
		transform: scale(0, 1);
		transform-origin: center top;
		transition: transform .3s;
	}

	#side_nav ul li a:hover::after {
		transform: scale(1, 1);
	}
}

/************************/
/*         icon         */
/************************/
.iconCircle{
	overflow: hidden;
}

.signature_area{
	display: flex;
	flex-direction: column;
	text-align:center;
	margin-top: 30px;
}

.signature_area p{
	font-size: var(--cmn-font-size);
}

.signature_area i{
	font-size: var(--cmn-ttl-font-size);
	color: #2f4f4f;
}

/************************/
/*        操作補助      */
/************************/
@media (max-width: 640px) {
	.page_top{
		display: none;
	}
}

@media (min-width: 641px) {
	.page_top{
		position: fixed;
		right: 30px;
		bottom: 20px;
		z-index: 500;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: rgba(81,81,81,0.3);
	}

	.page_top a{
		display: block;
		position: relative;
		width: 50px;
		height: 50px;
		text-decoration: none;
	}

	.page_top a::before{
		position: absolute;
		margin: auto;
		top: -5px;
		bottom: 0;
		right: 0;
		left: 0;
		width: 25px;
		height: 25px;
		font-size: 25px;
		color: #fff;
		text-align: center;
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
		content: '\f106';
	}
}

/************************/
/*    フッターエリア    */
/************************/
.footer{
	margin-top: 40px;
	width: 100%;
	height: 80px;
	background-color: rgb(18,18,18);
	font-size: 13px;
	text-align: center;
}

.footer p{
	position: relative;
	top: 50%;
	color: #dcdcdc;
	transform: translate(0,-50%);
}
