/************************************/
/*        共通                      */
/************************************/
.opacity_off{
	opacity: 0.2;
}

.opacity_on{
	opacity: 1;
}

main{
	width: 100%;
	height: auto;
	background-color: white;
}
/************************************/
/*        メイン タイトル           */
/************************************/

.title_area p{
	position: absolute;
	z-index: 303;
	bottom: 120px;
	width: 100%;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 40px;
	color: #2f4f4f;
}

@media (max-width: 640px) {
	.title_area{
		display: flex;
		flex-wrap : wrap;
		align-items: center;
		justify-content: center;
		z-index: 100;
		width: 100%;
		margin-top: 40px;
		overflow: hidden;
		background-color: #DDDDDD;
		text-align: center;
	}

	.title_area  img {
		left: 20%;
		margin-top:-80px;
		width: 100%;
		height: auto;
	}
}
@media (min-width: 641px) {
	.title_area{
		position: relative;
		z-index: 301;
		width: 100%;
		margin-top: 40px;
		background-color: #DDDDDD;
		text-align: center;
	}

	.title_area img {
		margin-top:-80px;
		width: 50%;
		height: auto;
	}
}
/************************************/
/*        コンテンツタイトル        */
/************************************/
.cont_ttl{
	display: flex;
	justify-content: center;
	align-items: center;
}

.cont_ttl h1{
	z-index: 110;
	margin: 100px 0;
	background: white;
	text-align:center;
	font-size: 30px;
	font-family: 'Quicksand', sans-serif;
	color: #2f4f4f;
}

.cont_ttl span{
	position: absolute;
	z-index: 100;
	width: 200px;
	height: 5px;
	background-color: #643250;
	border-radius: 10px;
}

.line_view{
	transform: scale(1, 1);
	transform-origin: center top;
	transition: all .3s;
	transition-delay: 1.5s;
}

.line_hide{
	transform: scale(0, 1);
	transform-origin: center top;
	transition: all .3s;
}

/************************************/
/*             自己紹介             */
/************************************/
.icon_circle img{
	width: 105%;
	margin-left: -5px;
}

@media (max-width: 640px) {
	.icon_circle{
		position: relative;
		top: calc(50% - 50px);
		left: calc(50% - 50px);
		width: 100px;
		height: 100px;
		overflow: hidden;
		border-radius: 50%;
		border: 5px solid #DCDCDC;
		font-size: 90px;
		text-align: center;
		line-height: 90px;
	}
}
@media (min-width: 641px) {
	.icon_circle{
		width: 300px;
		height: 300px;
		border-radius: 50%;
		border: 5px solid #DCDCDC;
		overflow: hidden;
		font-size: 90px;
		text-align: center;
		line-height: 90px;
	}

	.plof_txt{
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
	}

	.plof_txt p{
		width: 300px;
		height: 150px;
	}
}

/************************************/
/*             スキル一覧           */
/************************************/
@media (max-width: 640px) {
	.skill_box{
		display: grid;
		gap: 10px;
		grid-template-columns: 1fr 1fr 3fr;
		grid-template-rows: 100px 50px 50px 50px 100px 50px 50px 50px 100px 50px 50px 100px 50px;
	}
}

@media (min-width: 641px) {
	.skill_box{
		display: grid;
		width: 60%;
		margin-left: 20%;
		gap: 40px;
		grid-template-columns: 1fr 1fr 3fr;
		grid-template-rows: 100px 50px 50px 50px 100px 50px 50px 50px 100px 50px 50px 100px 50px;
	}
}

.skill_box div{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--cmn-font-size);
	color: #555555;
}

.box_big1 {
	font-size: var(--cmn-ttl-font-size);
	font-weight: 700;
	grid-column: 1 /4;
}

.column_ttl p{
	width: 70px;
	height: 25px;
	border-radius: 50px;
	background-color: rgba(81,81,81,0.3);
	line-height: 25px;
	text-align: center;
}

/************************************/
/*       スキルパラメータ           */
/************************************/
.palam{
	position: relative;
	width: 90%;
	height: 8px;
	border-radius: 10px;
	background-color: #dcdcdc;
}

.palam p{
	position: absolute;
	top: -40px;
	left: 0;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-color: rgba(220, 220, 220,0.5);
	text-align: center;
	line-height: 28px;
	color: #555555;
}

.skill_palam{
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 8px;
	border-radius: 10px;
	background-color: #005a5a;
}

/************************************/
/*       コメント      */
/************************************/
.comment{
	display: flex;
	justify-content: center;
	align-items: center;
}

/************************************/
/*       イラスト ボタンエリア      */
/************************************/
.btn_area button{
	position: absolute;
	width: 50px;
	height: 50px;
	border: none;
	outline: none;
	background-color: rgba(105,105,105,0.07);
	border-radius: 2px;
	transition: 0.7s;
}

.btn_area button::before{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 15px;
	height: 15px;
	transform: translate(-50%,-50%) rotate(45deg);
	transform-origin: center;
	content: "";
}

.btn_area button:nth-child(1){
	right: 5px;
}

.btn_area button:nth-child(2){
	left: 5px;
}

.btn_area button:hover{
	opacity: 0.4;
	border: none;
	background-color: #696969;
}

.btn_area button:nth-child(1)::before{
	border-top: 3px solid #696969;
	border-right: 3px solid #696969;
}

.btn_area button:nth-child(2)::before{
	border-bottom: 3px solid #696969;
	border-left: 3px solid #696969;
}

.btn_area button:nth-child(1):hover::before{
	border-top: 3px solid #f0f8ff;
	border-right: 3px solid #f0f8ff;
}

.btn_area button:nth-child(2):hover::before{
	border-bottom: 3px solid #f0f8ff;
	border-left: 3px solid #f0f8ff;
}

@media (max-width: 640px) {
	.btn_area{
		position: relative;
		top: -150px;
		height: 0;
		margin-left: 50%;
		transform: translate(-50%,0);
	}
}
@media (min-width: 641px) {
	.btn_area{
		position: relative;
		top: -150px;
		width: 320px;
		height: 0;
		margin-left: 50%;
		transform: translate(-50%,0);
	}
}

/************************************/
/*       イラストウィンドウ         */
/************************************/
@media (max-width: 640px) {

	.show_window{
		position: relative;
		top: 0px;
		height:auto;
		border: 5px solid #dcdcdc;
		overflow: hidden;
	}

	.show_window ul{
		letter-spacing: -1em;
		white-space: nowrap;
	}

	.show_window ul li img{
		object-fit: cover;
	}

	.show_window ul li{
		display: inline-block;
		margin-left: 10px;
		font-weight: 900;
		font-size: 33px;
		text-align: center;
	}
}
@media (min-width: 641px) {
	.show_window{
		position: relative;
		top: 0px;
		left: 50%;
		width: 300px;
		height: 300px;
		overflow: hidden;
		border: 5px solid #dcdcdc;
		transform: translate(-50%,0);
	}

	.show_window ul{
		letter-spacing: -1em;
		white-space: nowrap;
	}

	.show_window ul li img{
		width: 300px;
		height: 300px;
		font-size: 16px;
	}

	.show_window ul li{
		display: inline-block;
		width: 300px;
		height: 300px;
		margin-left: 10px;
		font-size: 33px;
		font-weight: 900;
		text-align: center;
		letter-spacing: normal;
		white-space: nowrap;
	}

	.art_before{
		opacity: 0.1;
		transform: translate(-30px,+30px);
		transition: all 0.3s;
	}

	.art_after{
		opacity: 1;
		transition: all 0.6s;
		transform: translate(0px,0px);
	}
}

.small_window{
	display: flex;
	justify-content: center;
	width: 100%;
}

.small_window ul li{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-top: 10px;
	margin-left: 5px;
	border-radius: 50% ;
	background-color: #696969;
	letter-spacing: normal;
	white-space: normal;
	transition-duration: 0.7s;
}

/************************************/
/*       コンテンツボタン         */
/************************************/
.cont_btn {
	width: 150px;
	height: 50px;
	margin: 50px 0 50px 50%;
	border-radius: 3px;
	border: 1px solid #dcdcdc;
	box-shadow: 2px 2px 1px 1px #e6e6fa;
	background-color: #ffffff;
	text-align: center;
	line-height: 50px;
	color: #dcdcdc;
	transform: translate(-50%,0);
}
